@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    .messages{
        margin-bottom: 6px;
    }
    
    .out-message{
    padding: 5px;
    font-size: 1em;
    font-family: 'Poppins';
    font-weight: bold;
    background-color: rgb(181, 181, 181);
    }
    
    .send-button{
        display: flex;
        padding: 10px 40px 10px 40px;
        font-weight: bold;
    }

    .send-button:hover{
       background: rgb(38, 130, 10);
       cursor: pointer;
    }